<div class="container">
<h1>My trips :</h1>


<% @trips.each do |trip| %>



                <div class="row">
                  <div class="col-md-6 col-sm-12 trip-portfolio trip-print trip-panel" data-toggle="modal" data-target="#porfolio-details-3">
                    <div class="panel-body">
                      <div class="trip-portfolio-title">
                        <div class="title">
                          <h4><%= trip.name %></h4>
                          <p><%= trip.places.join(" - ")%></p>
                          <p><% trip.start_date %> - <% trip.end_date %></p>
                        </div>
                      </div>
                    </div>
                    <div class="portfolio-image">
                        <%=image_tag "carte1.jpg", id: "carte"%>
                    </div>
                  </div>
                </div>


<% end %>
</div>
