<h1>Your trip name: <%= @trip.name %></h1>
<div class="container">
  <% @sliced_activities.each do |group| %>
      <% group.each do |subgroup| %>
        <%= subgroup.first.place_name %>
          <div class="row">
          <% subgroup.each do |activity| %>
            <%= activity.name %>
          <% end %>
          </div>
      <% end %>
  <% end %>
</div>
