<h1>Your trip to: <%= @trip.name %></h1>
<div class="container">
<% @a_activities_day.each do |activitiesday|%>
  <div class="row">
    <% activitiesday.each do |activity| %>
      <%= activity.name %>
      <% end %>
   </div>
  <% end %>

</div>
