// Specific CSS for your home-page

.home {
  background-position: top;
}

.header {
  background-color: #000;
  background: no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 800px;
}

.header .dropdown button{
  background: none;
  color: #fff;
}

.dropdown-toggle, .open>.dropdown-toggle.btn-default{
  background: none;
  border: 1px solid #ed78a6;
}


.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  -webkit-border-radius: 0;
  border:none;
  border-radius: 0;
  margin-top: 8px;
  background: rgba(0, 0, 0, 0.8);
}

.dropdown-menu li a{
  padding: 10px;
  color: #fff;
}

.dropdown-menu li a:hover{
  padding: 10px;
  color: #fff;
  background: rgba(237, 120, 166, 1);
}

.header-content {
  position: relative;
  left: 60px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.header-content h1 {
  font-size: 4em;
  font-weight: 500;
}

.header-content h3 {
  font-size: 4em;
  font-weight: 100;
  line-height: 0.6em;
  margin-top: -5px;
  opacity: 0.7;
}

.header-title {
  display: table;
}

.header-icon {
  font-size: 8em;
  float: left;
  margin-right: 30px;
  margin-top: 60px;
}

.header-menu {
  position: relative;
  margin: -100px auto 0;
    height: 100px;
    font-weight: 400;
}

.header-menu a:link{
  color:#fff;
}

.header-menu a:hover{
  color:#56c2b1;
  text-decoration: none;
}

.header-menu a:visited{
  color:#fff;
}

.menu-logo {
  display: none;
  color: #fff;
  font-size: 0.25em;
  position: absolute;
  margin: -7px 0 0 -82px;
}

.mobile-header-menu .menu-logo {
  margin: 2px 0 0 -19px;
}

.header-menu-content {
  position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 1.2em;
    padding-left: 65px;
}

.header-menu-content ul {
  padding-left: 0;
}

.header-menu-content li {
  display: inline;
  list-style: none;
  padding-right: 20px;
}


.top-link {
  font-size: 1.3em;
  text-align: center;
  width: 40px;
  height: 40px;
  float: right;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color:rgba(34, 34, 34, 0.1);
}

.top-link .glyphicon {
  position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.top-link a:link{
  color: #fff;
}

.top-link a:visited{
  color: #fff;
}

.top-link a:hover {
  color: 000;
  text-decoration: none;
}

.mobile-header-menu {
  position: absolute;
    right: 0;
    top: 20px;
    display: none;
    text-align: right;
  padding: 8px 20px 0;
}

.btn {
  border-radius: 20px;
  padding: 10px;
}

.btn {
  color: #fff;
}

.btn-trip {
  padding: 20px;
  border-radius: 5px;
}

.wrapper {
  text-align: center;
  margin-top: 350px;
}

.main-container h1, h5{
  padding-left: 0px;
  color: #444;
}

.main-container {
  margin-top: 30px;
  text-align: center;
}

.portfolio {
  // margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-content {
  background: #fff;
  padding : 5px;
  height: 80px;
}

.portfolio h4 {
  color: #000;
}

.panel-body{
  padding: 0;
  height: 140px;
  margin-bottom: 0px;
}

.portfolio-filters {
  padding: 15px;
  margin-bottom: 20px;
}

.portfolio-filters .btn {
  opacity: 0.3;
}

.portfolio-filters .btn {
  color: #fff;
}

.filter-selected {
  opacity: 1 !important;
}

.portfolio-title {
  padding: 15px;
  min-height: 110px;

}

.portfolio-title .title {
  display: table;
}

.portfolio-image img{
  width: 100%;
  height: auto;
  overflow: hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.portfolio-icon {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
}

.web .portfolio-icon {
  background-color: #ed78a6;
}

.mobile .portfolio-icon {
  background-color: #56c2b1;
}

.print .portfolio-icon {
  background-color: #70c6da;
}

.portfolio-icon div {
  position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.portfolio-filters .btn {
  margin-right: 10px;
}

.panel {
  background:none;
  // height: 300px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.panel-heading {
  color: #ffffff;
  -web-kit-border-top-left-radius: 6px;
  -web-kit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.panel-heading h4{
  padding: 10px 0 10px 0 !important;
  margin: 0;
  color: #ffffff !important;

}

.panel-heading p{
  font-style: italic;
  font-size: 0.8em;
  margin-top: -8px;
}

.panel-heading .panel-icon {
  font-size: 1.7em;
  text-align: center;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color:rgba(0, 0, 0, 0.3);

}

.panel-heading .panel-icon .glyphicon {
  position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.panel-heading .panel-title {
  display: table;
}

.panel-body {
  background: #fff;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  padding: 20px;
}

.service .panel-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.portfolio .panel-body {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}



