.body-r2r {
  height: auto;
  h5 {
    font-size: 13px;
    font-weight: bold;
    color: gray;
    font-style: none;
  }
  h6 {
    font-size: 10px;
  }
}

.center-travel {
  // padding: 45px;

}

.table-travel {
  td {
    padding: 0px;
  }
}

.row-travel {
  margin: 40px;
}

.panel > .table, .panel > .table-responsive > .table, .panel > .panel-collapse > .table {
    margin-bottom: 0;
    background-color: white;
}
