// /* Panels */
// .panel {
//   background:none;
//   box-shadow: none;
//   -webkit-box-shadow: none;
// }

// .panel-heading {
//   color: #ffffff;
//   -web-kit-border-top-left-radius: 6px;
//   -web-kit-border-top-right-radius: 6px;
//   border-top-left-radius: 6px;
//   border-top-right-radius: 6px;
// }

// .panel-heading h4{
//   padding: 10px 0 10px 0 !important;
//   margin: 0;
//   color: #ffffff !important;
//   font-size: 15px !important;

// }

// .panel-heading p{
//   font-style: italic;
//   font-size: 0.8em;
//   margin-top: -8px;
// }

// .panel-heading .panel-icon {
//   font-size: 1.7em;
//   text-align: center;
//   width: 50px;
//   height: 50px;
//   float: left;
//   margin-right: 10px;
//   border-top-right-radius: 50%;
//   border-top-left-radius: 50%;
//   border-bottom-right-radius: 50%;
//   border-bottom-left-radius: 50%;
//   background-color:rgba(0, 0, 0, 0.3);

// }

// .panel-heading .panel-icon .glyphicon {
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
//   -webkit-transform: translateY(-50%);
// }

// .panel-heading .panel-title {
//   display: table;
// }

// .panel-body {
//   height: 70px !important;
//   background: #fff;
//   border-bottom: 1px solid transparent;
//   border-top-left-radius: 6px;
//   border-top-right-radius: 6px;
//   border-bottom-left-radius: 6px;
//   border-bottom-right-radius: 6px;
//   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
//   box-shadow: 0 1px 1px rgba(0,0,0,.05);
//   padding: 20px;
// }

// .service .panel-body {
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

// .portfolio .panel-body {
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 0;

// }


// /************
// PORTFOLIO STYLES
// ************/
// .portfolio {
//   margin-bottom: 20px;
// }

// .portfolio h4 {
//   color: #000;
// }

// .portfolio .panel-body{
//   padding: 0;
// }

// .portfolio-filters {
//   padding: 15px;
//   margin-bottom: 20px;
// }

// .portfolio-filters .btn {
//   opacity: 0.3;
// }

// .portfolio-filters .btn {
//   color: #fff;
// }

// .filter-selected {
//   opacity: 1 !important;
// }

// .portfolio-title {
//   padding: 15px;
//   min-height: 70px;

// }

// .portfolio-title .title {
//   display: table;
// }

.activities-portfolio-image {
  background-size: cover !important;
  background-position: center;
  height: 160px;
  width: auto;
  position: relative;
}


.card-setactivity:hover, .details-link:hover {
  cursor: pointer;
}

.card-setactivity.grey{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5;
}

.selected-card {
  outline: 5px solid #48BAA9;

}

.portfolio {
  position: relative !important;
}

.details-link {
  color: rgb(50, 50, 50);
  font-size: 12px;
  padding: 6px 31px;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0px;
  right: 0px;
  margin-bottom: -40px;
  position: absolute;
  bottom: 60px;
  right: 88px;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.portfolio-icon {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
}

.active .portfolio-icon {
  background-color: $blue;
}

.beautysvc .portfolio-icon {
  background-color: #ed78a6;
}

.nightlife .portfolio-icon {
  background-color: #70c6da;
}

.restaurants .portfolio-icon {
  background-color: rgba(0, 0, 0, 0.6);
}

.arts .portfolio-icon {
  background-color: black;
}

// .active .portfolio-filters .btn  {
//   background-color: $blue;
// }

// .beautysvc .portfolio-filters .btn  {
//   background-color: #ed78a6;
// }

// .nightlife .portfolio-filters .btn  {
//   background-color: #70c6da;
// }

// .restaurants .portfolio-filters .btn  {
//   background-color: rgba(0, 0, 0, 0.6);
// }

// .mobile .portfolio-icon {
//   background-color: #56c2b1;
// }

// .print .portfolio-icon {
//   background-color: #70c6da;
// }

// .portfolio-icon div {
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
//   -webkit-transform: translateY(-50%);
// }

// .portfolio-filters .btn {
//   margin-right: 10px;
// }

