  <div class=" row sub-container">
    <div class="content-setplaces">
      <div class="title-right">
        <h1>How does the magic happen ? </h1>
        <h2 class="h-form">Only three steps</h2>
      </div>

      <div class="row">

        <div class="col-sm-12 panel tuto">
          <div class="print panel-body-propal panel-body-setplaces">
            <div class="portfolio-title-forms">
              <div class="portfolio-icon propal">
                <div>1</div>
              </div>
              <div class="title title-setplaces propal">
                <p>Based on your cities selection we deeply analyze the best ranked activities</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 panel tuto">
          <div class="mobile panel-body-propal panel-body-setplaces">
           <div class="portfolio-title-forms">
              <div class="portfolio-icon propal">
                <div>2</div>
              </div>
              <div class="title title-setplaces propal">
                <p>Regarding your preferences you can filter and chose all the top activities we select for each city</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 panel tuto">
          <div class="web panel-body-propal panel-body-setplaces">
            <div class="portfolio-title-forms">
              <div class="portfolio-icon propal">
                <div>3</div>
              </div>
              <div class="title title-setplaces propal">
                <p>We display for you the perfect schedule for your visits. You can even benefit from a selection of ways of transport!</p>
              </div>
            </div>
          </div>
        </div>

      </div>

  </div>
