  <div class="header" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://images.unsplash.com/photo-1484544808355-8ec84e534d75?dpr=1&auto=compress,format&fit=crop&w=1966&h=&q=80&cs=tinysrgb&crop=)">
    <div class="container fluid-container header-content content-area">
      <span class="header-icon glyphicon glyphicon-globe"></span>
      <div class="header-title">
        <h1>TRAVELWAY</h1>
        <h2>Pack your travel in just a few clicks</h2>
      </div>
      <div class="wrapper text-center">
        <%= link_to "Start your trip", '/setplaces', class: "btn btn-primary "%>
      </div>
    </div>
  </div>

<div class="main-content container fluid-container">

  <div class="container main-container">
    <div class="row">
      <h3 class= "title-main-content home">How it works</h3>
      <p></p>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 print panel" data-toggle="modal">
        <div class="panel-body-home">
          <div class="portfolio-title-home">
            <div class="portfolio-icon">
              <div>1</div>
            </div>
            <div class="title">
              <h4>Plan</h4>
            </div>
          </div>
        </div>
        <div class="portfolio-content-home">
          <p>Just tell us where you are planning to go, and we tell you more about the best worth visiting places for each step of your trip</p>
        </div>
          <div class="portfolio-image">
            <%= image_tag "yourcities.jpg" %>
          </div>
      </div>

      <div class="col-md-4 col-sm-6 mobile panel" data-toggle="modal">
        <div class="panel-body-home">
          <div class="portfolio-title-home">
            <div class="portfolio-icon">
              <div>2</div>
            </div>
            <div class="title">
              <h4>Customize</h4>
<!--               <em>Select activities for each one of the cities</em>
 -->            </div>
          </div>
        </div>
        <div class="portfolio-content-home">
          <p>We tell you more about those places and the top ranked establishments depending on your own needs and interests. Do your own selection easily!</p>
        </div>
          <div class="portfolio-image">
            <%= image_tag "youractivities.jpg" %>
          </div>
      </div>

      <div class="col-md-4 col-sm-6 web panel" data-toggle="modal">
        <div class="panel-body-home">
          <div class="portfolio-title-home">
            <div class="portfolio-icon">
              <div>3</div>
            </div>
            <div class="title">
              <h4>Enjoy</h4>
            </div>
          </div>
        </div>
        <div class="portfolio-content-home">
          <p>Your trip is organized, from activities to transportation. Time to pack your bags and enjoy your holidays!</p>
        </div>
          <div class="portfolio-image">
            <%= image_tag "yourtrip.jpg" %>
          </div>
      </div>
    </div>

  </div>

</div>
