<% require_relative "../../services/fetch_activities_service" %>

<% results = search("food, cinema", "paris") %>

<%= results['businesses'].sort_by{|result| result['review_count']}.reverse.first(15).each do |result| %>
<p><%= result['name'] %></p>

<% end %>


