<%= simple_form_for(@trip) do |f| %>
<div class="container">
  <div class="row">
    <% @activities.flatten.each do |activity| %>
    <%= render "layouts/card", activity: activity %>
    <% end %>
  </div>
</div>
<% end %>

