.form {
  background-position: left 25%;
}

#forminputs {
  padding-left: 50px;
  padding-top: 30px;
}
.content-form-trip {
  position: relative;
  overflow:auto;
  transition:height 1s ease;
  width: 415px;
  background-color: white;
  border-radius: 6px;
  margin-bottom: 30px;
  padding-right: 35px;
}

.tripform {
  margin-bottom: 20px;
}

h2.h-form {
  font-size: 15px;
  font-style: italic;
}

// DATE INPUTS

input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  color: grey;
  opacity: 1;
}

input::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

input::-webkit-date-time-edit {
  color: red;
}

// BANDE/IMAGE SUR COTE DU FORM

.card-photo-trip {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 100%;
  width: 4%;

}

// FORMULAIRE EN LUI-MÊME

.btn.background-1.form-trip {
  background-color: #56c2b1;
  font-size: 14px;
  padding: 9px;
  position: absolute;
  right: 66px;
  width: 100px;
  margin-right: 41px;
}

.btn.btn-primary.grey {
  background-color: #e5e5e5;
  border-color: white;
  margin-left: 50px;
  border-radius: 50px;
}
