.form {
  background-position: left 25%;
}

.content-form-trip {
  position: relative;
  width: 405px;
  height: 50em;
  background-color: white;
  border-radius: 6px;
  margin-bottom: 30px;
}

.container .form-trip {
  width: 200px;
}

.tripform {
  margin-bottom: 20px;
}

// DATE INPUTS

input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  color: grey;
  opacity: 1;
}

input::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

input::-webkit-date-time-edit {
  color: red;
}

// BANDE/IMAGE SUR COTE DU FORM

.card-photo-trip {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 44em;
  width: 4%;

}

// FORMULAIRE EN LUI-MÊME

.btn.background-1.form-trip {
  background-color: #ed78a6;
  font-size: 14px;
  padding: 9px;
  position: absolute;
  right: 66px;
  width: 100px;
}
