.content-form-trip-log {
  position: relative;
  overflow:auto;
  transition:height 1s ease;
  width: 415px;
  background-color: white;
  border-radius: 6px;
  margin-bottom: 30px;
  padding-right: 35px;
  border-left-style: solid;
  border-left-color: rgba(0,0,0,0.5);
  border-left-width: 8px;
  min-height: 370px;

}
