.content-form-trip {
  position: relative;
  height: 44em;
  width: 405px;
  background-color: white;
  border-radius: 6px;
  margin-bottom: 30px;
}

.main-container h1, h5 {
padding-left: 0px;
}

.input {
  display: block;
  color: red;
}

.optional {
  font-size: 15px;
}
.container .form-trip {
  width: 200px;
}

.site-holder .form-trip {
  background-position: left 25%;
}

.container.form-trip {
  margin-top: 30px;
}

input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  color: grey;
  opacity: 1;
}

input::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

input::-webkit-date-time-edit {
  color: red;
}

.background-with-image-3 {
  background-position: bottom center;
  background-size: cover;

}

.card-photo {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
     height: 44em;
  width: 4%;

}
.card-form {
  position: absolute;
  top: 22px;
  right: 38px;
}

.btn.background-1.form-trip {
  background-color: #ed78a6;
  font-size: 14px;
  padding: 9px;
  position: absolute;
  right: 0;
  width: 100px;
}

.h-form {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  margin: -5px 0 20px 0;

}
