<h1>Activities#index</h1>
<p>Find me in app/views/activities/index.html.erb</p>

<% require_relative "../../services/fetch_activities_service" %>

<% results = search("Religious Organizations", "paris") %>

ENV[CATEGORIES].each
<%= results['businesses'].sort_by{|result| result['review_count']}.reverse.first(15).each do |result| %>
<p><%= result['name'] %></p>

<% end %>
