 <!--  Modal -->
    <div class="modal fade" id="info-<%= activity.id %>" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
         <button type="button" class="modal-close-btn" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
         <div class="modal-body container-fluid portfolio mobile">
            <!--  Carousel -->
            <div id="carousel-portfolio-2" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="images/large-images/large-6.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="portfolio-title">
                  <div class="portfolio-icon">
                    <div>M</div>
                  </div>
                  <div class="title">
                    <h4>Original App Design</h4>
                    <em>UI / UX design.</em>
                  </div>
                </div>
              </div>
              <div class="modal-text col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam lacus. Aenean nisi urna, aliquam sit amet turpis in, ultricies scelerisque sapien. Donec lobortis nulla ac consequat imperdiet. Cras eleifend velit ut justo posuere ullamcorper. Mauris quis mi tempor, tempus ex maximus, fermentum ex. Proin laoreet dui mauris, quis gravida metus tincidunt et. Mauris quis nulla luctus, congue libero sit amet, suscipit neque. Aliquam erat volutpat. Aenean scelerisque ipsum tellus, id cursus mauris tempor ac.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
